
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Reserva tu Entrada de Cine</h1>
            <p>Selecciona tu película y asegura tu asiento</p>
        </div>
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-4 movie-card">
                <div class="card">
                    <img src="{{ movie.poster }}" class="card-img-top movie-poster" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.synopsis }}. Duración: {{ movie.duration }}</p>
                        <p class="card-text">Clasificación: {{ movie.clasification }}</p>
                        <p class="card-text">Fecha de estreno: {{ movie.release_date }}</p>
                        <a href="{{ url_for('reserva', movie_id=movie.id) }}" class="btn btn-primary">Reservar</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
