<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciona tus Asientos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <form id="seatsForm">
            <div class="header">
                <h1>Selecciona tus Asientos</h1>
                <p>Elige los asientos que deseas reservar para la película  {{ funtions[0].movie_id }}.</p>
            </div>
            <input type="hidden" name="movie_id" value="{{ movie_id }}">

            <!-- Listado de Funciones Disponibles -->
            <div class="form-group">
                <label for="function">Funciones Disponibles</label>
                <select class="form-control" id="function" name="function" required>
                    {% for function in funtions %}
                        <option value="{{ function.id }}">
                            Sala: {{ function.room_id }}, Fecha: {{ function.date }}, Hora: {{ function.hora }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="seats">
                {% for function in funtions %}
                    <div id="seats_{{ function.id }}" class="seat-container" style="display:none;">
                        <div class="screen">Pantalla</div>
                        <div class="seat-grid">
                            {% for seat in function.seats %}
                                <div class="seat {% if not seat.available %}occupied{% endif %}" data-seat="{{ seat.label }}" onclick="toggleSeat(this)">
                                    {{ seat.label }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="legend">
                <div class="free-seat"><span></span> Libre</div>
                <div class="occupied-seat"><span></span> Ocupado</div>
                <div class="selected-seat"><span></span> Seleccionado</div>
            </div>

            <div class="selected-seats">
                <h4>Asientos Seleccionados:</h4>
                <ul id="selectedSeatsList"></ul>
            </div>

            <input type="hidden" id="selectedSeats" name="selectedSeats">
            <button type="button" class="btn btn-primary" onclick="confirmarReserva()">Confirmar Reserva</button>        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
