body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}
.movie-card {
    margin-bottom: 30px;
}
.movie-poster {
    width: 100%;
    height: auto;
}
.btn-primary {
    width: 100%;
}

.screen {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
/* .seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
} */
.seat-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Cambia este número según el número de columnas que deseas */
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
.seat {
    width: 50px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #bbb;
    cursor: pointer;
    text-align: center; /* Para centrar el texto dentro del asiento */
    line-height: 30px; /* Para centrar verticalmente el texto dentro del asiento */
}
.seat.selected {
    background-color: #5cb85c;
}
.seat.occupied {
    background-color: #d9534f;
    cursor: not-allowed;
}
.legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.legend div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.legend div span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}
.legend .free-seat span {
    background-color: #ddd;
}
.legend .occupied-seat span {
    background-color: #d9534f;
}
.legend .selected-seat span {
    background-color: #5cb85c;
}
.btn-primary {
    width: 100%;
    margin-top: 20px;
}
.selected-seats {
    margin-top: 20px;
}
